---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" :class="{ dark:localstorage.getItem('theme')==='dark'}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class=" dark:bg-linear-to-b dark:from-cyan-950 dark:to-sky-900 bg-red-200 transition-colors duration-300 overflow-x-hidden">
		<div id="color-transition-overlay" class="pointer-events-none fixed inset-0 z-50 bg-red-100 dark:bg-gradient-to-b dark:from-cyan-950 dark:to-sky-900 scale-x-0 origin-center transition-transform duration-700 ">

		</div>
		<slot />
	</body>
</html>



